<!DOCTYPE html>
<html>

<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/report.png" />

    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <title>
        Report {{ current_date }} {{ title_text }}
    </title>
</head>

<body>
<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.js"></script>

<div class="navbar navbar-inverse">
<div class="navbar-inner">
    <a class="brand" href="#">Gtracker</a>
    <ul class="nav">
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports <b class="caret"></b></a>
            <ul class="dropdown-menu">
                <li> <a href="/report1">Laika issues (develop)</a></li>
                <li> <a href="/report2">Nuxeo issues (develop)</a></li>
                <li> <a href="/report3">prod release-1.2.0</a></li>
                <li> <a href="/report4">prod release-1.2.1</a></li>
            </ul>
        </li>

        <li class="divider-vertical dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Sync <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li> <a href="/sync">Sync with Github</a></li>
        </ul>
        </li>
    </ul>
</div>
</div>


<p class="lead" style="text-align: center; margin-top: 10px"> {{ title_text }} </p>

<div style="padding: 10px">
<table class="table table-bordered  table-hover">
    {% for status, fullset, rowcolor in set_of_all %}
    {% if status == "High" %}
        <tr class="error">
    {% elif status == "Normal" %}
        <tr class="success">
    {% elif status == "Low" %}
        <tr class="warning">
    {% else %}
        <tr>
    {% endif %}
            <td>{{ status }}</td><td>{{ fullset|length }}</td>
    </tr>
    {% endfor %}
</table>
</div>

<div style="padding: 10px">
{% for status, fullset,rowcolor in set_of_all %}

<table class="table table-bordered  table-hover">
    <tr>
    <tr style="background-color: {{ rowcolor }};"><th colspan="4" style="text-align: center;"> {{ title_text }} Status: {{ status }}; Total: {{ fullset|length }}</th></tr>
    <th style="width: 60px">#</th>
    <th style="width: 800px">Title</th>
    <th style="width: 120px">Assigned to</th>
    <th>Created date</th>
    </tr>


{% for o in fullset %}
        {% if status == "High" %}
            <tr class="error">
                {% elif status == "Normal" %}
            <tr class="success">
                {% elif status == "Low" %}
            <tr class="warning">
                {% else %}
            <tr>
        {% endif %}

        <td><i class="icon-exclamation-sign" style="padding-left: 1px"></i>{{ o.number }}</td>
        <td> <a class="tooltip-link"
                href="https://github.com/Gagnavarslan/coredata/issues/{{ o.number }}" rel="tooltip"
                data-original-title="Click to view on GitHub">
                {{ o.title }}
            </a>
            <i class="icon-info-sign tooltip-info" rel="tooltip" data-placement="right" data-animation="false"
               data-original-title="Milestone:{{ o.milestone }}"></i>
        </td>
        <td>{{ o.assigned }}</td>
        <td>{{ o.created|date:"j-M-Y" }}</td>
    </tr>
{% endfor %}
</table>

{% endfor %}
</div>

<p class="muted text-info" style="text-align: center;">
    Current date {{ current_date }}. Gagnavarslan inc. 2012 &#169;
</p>

<script>
    $('.tooltip-info').each(function(){ $(this).tooltip('hide');})
    $('.tooltip-link').each(function(){ $(this).tooltip('hide');})
</script>

</body>
</html>