<!DOCTYPE html>
<html>
<head>
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/report.png" />

    <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">
    <title>
        The {{ total }} records was processed successfully.
    </title>
</head>
<body>

<script src="http://code.jquery.com/jquery-latest.js"></script>
<script src="/static/js/bootstrap.js"></script>

<div class="alert" style="padding: 20px">
    The <strong>{{ total }}</strong> records was processed successfully.
</div>

<div style="padding-left: 30px">
    <a href="/report1">
    <button class="btn " type="button"> << Back </button>
    </a>
</div>
</body>
</html>